@font-face {
  font-family: 'GoudyStM-Italic';
  src: url("GoudyStM-Italic-webfont.eot");
  src: url("GoudyStM-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("GoudyStM-Italic-webfont.woff") format("woff"), url("GoudyStM-Italic-webfont.ttf") format("truetype"), url("GoudyStM-Italic-webfont.svg#webfont") format("svg"); }

@font-face {
  font-family: 'GoudyStM';
  src: url("GoudyStM-webfont.eot");
  src: url("GoudyStM-webfont.eot?#iefix") format("embedded-opentype"), url("GoudyStM-webfont.woff") format("woff"), url("GoudyStM-webfont.ttf") format("truetype"), url("GoudyStM-webfont.svg#webfont") format("svg"); }
